---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// My variables
$base-font-family: "Open Sans", sans-serif;
$base-font-size:   18px;
$base-font-weight: 300;
$small-font-size:  16px;
$base-line-height: 1.75;

$spacing-unit:     30px;
$spacing-unit-tiny:20px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$blue-color:       #02264b;
$blue-color-light: #0458af;
$green-color:      #13ad06;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  #262626;

// Width of the content area
$content-width:    880px;

// Mixins
@mixin gradient-bg($deg, $color1, $color2) {
    background-color: $color1;
    background: linear-gradient($deg, $color1, $color2);
}

// Import from _sass folder
@import "header",
        "footer",
        "style",
        "base",
        "button",
        "forms",
        "blog-list",
        "animation";
