---
layout: start
---
{% for post in site.posts %}
    {% if post.featured == true %}
      {% capture count %}{{ count | plus: '1' }}{% endcapture %}
      {% if count == '1' %}

      <div class="blog-post flex-300">
          <h3>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h3>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <p>{{ post.excerpt }}</p>
          <p><a href="{{ post.url | prepend: site.baseurl }}">Läs hela inlägget...</a></p>
      </div>

      {% endif %}
  {% endif %}
{% endfor %}

{% for post in site.posts %}
  {% if post.featured == true %}
    {% capture counttwo %}{{ counttwo | plus: '1' }}{% endcapture %}
    {% if counttwo == '2' or counttwo == '3' %}

    <div class="blog-post flex-300">
        <h3>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <p>{{ post.excerpt }}</p>
        <p><a href="{{ post.url | prepend: site.baseurl }}">Läs hela inlägget...</a></p>
    </div>

    {% endif %}
  {% endif %}
{% endfor %}
