<footer class="site-footer">

    <div class="contact-card container">
        <div>
            <a href="mailto:alexander@jarnehall.se" title="Skicka e-post till: {{ site.email }}"><span class="icon">{{ site.email }}</span></a>
            <a target="_blank" href="http://github.com/jarnehall" title="GitHub - Alexander Järnehall"><span class="icon">github.com/jarnehall</span></a>
            <a target="_blank" href="http://codepen.io/jarnehall" title="CodePen - Alexander Järnehall"><span class="icon">codepen.io/jarnehall</span></a>
        </div>
    </div>

</footer>
