@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    20% {
        opacity: 0;
    }
    80% {
        transform: translateY(0);
    }
    100% {
        opacity: 1;
    }
}

@keyframes stay-hidden {
    0%, 100% {
        opacity: 0;
    }
}
