html {
    font-size: $base-font-size;
}

body {
    font-family: $base-font-family;
    font-size: 1rem;
    font-weight: $base-font-weight;
    background-color: $background-color;
    margin: 0 auto;
    line-height: 1em * $base-line-height;
}

h1 {
    font-family: $base-font-family;
    font-size: 2.75rem;
    margin-top: 1rem;
    line-height: 1em * 1;
}

h2 {
    font-family: $base-font-family;
    font-size: 1.75rem;
    font-weight: $base-font-weight;
    margin-bottom: 2rem;
    line-height: 1em * $base-line-height;
    text-align: center;
}

h3 {
    margin: 2rem 0 1rem;
}

a {
    font-weight: 400;
    color: lighten($blue-color-light, 10%);
    border-bottom: 1px solid;
    transition: color 0.3s;
    text-decoration: none;

    &:hover {
        color: darken($blue-color-light, 10%);
    }
}

img {
    max-width: 100%;
}
