html {
    font-size: 18px;
}

body {
    margin: 0 auto;
    background-color: $color-white;
}

h1 {
    @include font(3rem, 1.2, 600);
    margin-top: 1rem;

        @media (min-width: 500px) {
            @include font(4rem, 1.2, 600);
    }
}

h2 {
    @include font(1.75rem, 1.5, 300);
    text-align: center;
    margin-bottom: 1rem;
}

a {
    font-weight: 40;
    color: lighten($color-lightblue, 10%);
    border-bottom: 1px solid;
    transition: color 0.3s;
    text-decoration: none;
    &:hover {
        color: darken($color-lightblue, 10%);
    }
}

header,
footer {
    a {
        color: lighten($color-lightblue, 48%);
        &:hover {
            color: lighten($color-lightblue, 58%);
        }
    }
}
