
.post-list {
    padding: 0;
    margin: 0 -20px;
    list-style: none;

    span.post-meta {
        font-size: 0.875rem;
    }

    p.post-content {
        clear: both;
    }
}

.page-navigation {
    display: block;
    overflow: hidden;

    .next {
        margin-bottom: 1rem;
        margin-right: 1rem;
        float: left;
    }

    .prev {
        float: right;
        text-align: right;
    }
}
