.btn--base {
    font-size: 1.25rem;
    font-weight: 600;
    background-color: transparent;
    color: $brand-color-light;
    cursor: pointer;
    padding: 6px;
    border: 2px $brand-color-light solid;
    border-radius: 2px;
    line-height: 1em * 1.5;
    min-width: 150px;
    transition: color 0.3s ease-in-out,
                background-color 0.3s ease-in-out;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

    &:hover,
    &:focus {
        background-color: $brand-color-light;
        color: $background-color;
    }
}

.btn--green {
    @extend .btn--base;
    color: $green-color;
    border: 2px $green-color solid;

    &:hover,
    &:focus {
        background-color: $green-color;
    }
}
