.btn {
    font-size: 1.25rem;
    font-weight: 600;
    color: $background-color;
    padding: 8px 50px;
    border: none;
    border-radius: 2px;
    line-height: 1em * 1.5;
    transition: 0.4s;

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &:active {}
}

.btn--center {
    display: block;
    margin: 0 auto;
}

.btn--green {
    @include gradient-bg(0deg, darken($green-color, 8%), lighten($green-color, 4%));

    &:hover,
    &:focus {
        @include gradient-bg(0deg, darken($green-color, 3%), lighten($green-color, 9%));
    }
}
