@mixin font($size, $height, $weight) {
    font-family: "Open Sans", sans-serif;
    font-size: $size;
    font-weight: $weight;
    line-height: $size * $height;
}

@mixin gradient-bg($deg, $color1, $color2) {
    background-color: $color1;
    background: linear-gradient($deg, $color1, $color2);
}

@mixin gradient-bg-animation($deg, $color1, $color2, $speed) {
    animation: gradientAnim $speed ease infinite;
    background-color: $color-deepblue;
    background: linear-gradient($deg, $color1, $color2);
    background-size: 300% 300%;
    @keyframes gradientAnim {
        0% {
            background-position: 0% 51%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 51%;
        }
    }
}
