.container {
    margin: 0 auto;
    max-width: 820px;
}

header {
    @include gradient-bg(145deg, $color-deepblue, $color-lightblue);
    color: $color-white;

    h1 {
        text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
    }

    &.post-header {
        .container {
            margin: 0 auto;
            padding: 10px 30px;

            h1 {
                margin-bottom: 0;
            }

            p {
                font-weight: 300;
            }
        }
    }

    &.page-header {
        .container {
            margin: 0 auto;
            max-width: 600px;
            padding: 50px 20px;

            @media (min-width: 500px) {
                padding: 80px 30px;

                h1 {
                    font-size: 3rem;
                }
            }

            @media (min-width: 800px) {
                //padding: 120px 30px;
            }

            p {
                @include font(1.25rem, 1.5, 300);
                text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);

                @media (min-width: 500px) {
                    @include font(1.425rem, 1.5, 300);
                }
            }
        }
    }
}

main {
    @include font(1rem, 1.8, 300);
    color: $color-black;
    margin-bottom: 50px;
}

section,
article {
    padding: 30px 20px 0;
    @media (min-width: 500px) {
        padding: 30px 30px 0;
    }
}

.blog-post {
    margin-bottom: 2rem;
}

.flex-parent {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    margin: 0 -20px;
}

.flex- {
    padding: 0 20px;
}

.flex-200 {
    @extend .flex-;
    flex: 1 1 200px;
}

.flex-250 {
    @extend .flex-;
    flex: 1 1 250px;
}

.flex-300 {
    @extend .flex-;
    flex: 1 1 300px;
}

footer {
    @include font(1rem, 1.8, 300);
    background-color: darken($color-black, 3%);
    color: $color-white;
    padding-bottom: 30px;
    section.contact {
        h2 {
            color: $color-white;
            margin-bottom: 50px;
        }
        .contact-card {
            margin-bottom: 50px;
            margin-top: -30px;

            img.selfie {
                width: 200px;
                height: 200px;
                display: block;
                margin: 20px auto;
                border-radius: 100px;
                transition: transform 0.4s;
                &:hover {
                    transform: rotateZ(5deg);
                }
            }
            div {
                padding-right: 60px;
                margin: 0 auto;
                width: 180px;
                a {
                    span.icon {
                        padding-left: 55px;
                        display: block;
                        line-height: 40px;
                        height: 40px;
                        margin-top: 20px;
                        transition: padding-left 0.4s;
                    }
                    &:nth-child(1) span.icon {
                        background: url("../img/email.svg") left center no-repeat;
                        background-size: 40px;
                    }
                    &:nth-child(2) span.icon {
                        background: url("../img/github.svg") left center no-repeat;
                        background-size: 40px;
                    }
                    &:nth-child(3) span.icon {
                        background: url("../img/codepen.svg") left center no-repeat;
                        background-size: 40px;
                    }
                    &:hover span {
                        padding-left: 60px;
                    }
                }
            }
        }
    }
}
